<div id="changePassword">
    <form name="changepwdForm" ng-submit="signup()" novalidate>
    <table>
        <tr>
            <td>
                <label>Current password</label>
            </td>
            <td>
                <input type="password" required name= "currentPassword" ng-model="passwordChangeCtrl.currentPassword"/>
                <span ng-show="changepwdForm.currentPassword.$error.required && changepwdForm.username.$touched">Please enter the Current Password</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>New Password</label>
            </td>
            <td>
                <input type="password" required name= "newPassword" ng-model="passwordChangeCtrl.newPassword"/>
                <span ng-show="changepwdForm.newPassword.$error.required && changepwdForm.newPassword.$touched">Please enter your New password.</span>
            </td>
        </tr>
        <tr>
            <td>
                <label>Confirm Password</label>
            </td>
            <td>
                <input type="password" ui-validate="'match($value)'" ui-validate-watch="'newPassword'"  required name="newConfirmPassword" ng-model="passwordChangeCtrl.newConfirmPassword"/>
                <span ng-show="changepwdForm.newConfirmPassword.$error.validator && changepwdForm.newConfirmPassword.$touched">Passwords dont Match</span>
                <span ng-show="changepwdForm.newConfirmPassword.$error.required && changepwdForm.newConfirmPassword.$touched">Please enter your password again.</span>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button ng-disabled="changepwdForm.$invalid">Submit</button> </td>
        </tr>
        <tr ng-show="passwordChangeCtrl.message.length > 0">
            <td colspan="2"> {{passwordChangeCtrl.message}}</td>
        </tr>

    </table>
    </form>
</div>