<div id="changePassword">
    <table>
        <tr>
            <td>
                <label>Current password</label>
            </td>
            <td>
                <input type="password" ng-model="passwordChangeCtrl.currentPassword"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>New Password</label>
            </td>
            <td>
                <input type="password" ng-model="passwordChangeCtrl.newPassword"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Confirm Password</label>
            </td>
            <td>
                <input type="password" ng-model="passwordChangeCtrl.newConfirmPassword"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button ng-click="signup()">Submit</button> </td>
        </tr>
        <tr ng-show="passwordChangeCtrl.message.length > 0">
            <td colspan="2"> {{passwordChangeCtrl.message}}</td>
        </tr>

    </table>

</div>