<div id="dashboard">
    <table>
        <th>Welcome to your Dashboard view.</th>
        <tr>
            <td>Site Name</td>
            <td>Site Url</td>
            <td>User name</td>
            <td colspan="2">Password</td>

            <td>Edit?</td>
        </tr>
        <tr ng-repeat="userdata in dashboardCtrl.storage">


            <td ng-if="userdata.id != ''">
                <span ng-show="!userdata.isEditable">{{userdata.siteName}}</span>
                <input ng-show="userdata.isEditable" type="text" ng-model="userdata.siteName" />
            </td>

            <td ng-if="userdata.id == ''">
                <input  type="text" ng-model="userdata.siteName" />
            </td>

            <td ng-if="userdata.id != ''">
                <span ng-show="!userdata.isEditable">{{userdata.siteUrl}}</span>
                <input ng-show="userdata.isEditable" type="text" ng-model="userdata.siteUrl" />
            </td>
            <td ng-if="userdata.id == ''">
                <input  type="text" ng-model="userdata.siteUrl" />
            </td>

            <td ng-if="userdata.id != ''">
                <span ng-show="!userdata.isEditable">{{userdata.username}}</span>
                <input ng-show="userdata.isEditable" type="text" ng-model="userdata.username"/>
            </td>

            <td ng-if="userdata.id == ''">
                <input  type="text" ng-model="userdata.username"/>
            </td>


            <td colspan="2" ng-if="userdata.id != ''" >
                <button ng-show="!userdata.isEditable" ng-click="dashboardCtrl.copyToClipboard($index,this)">Copy To Clipboard</button>
                <input type="password" ng-show="userdata.isEditable" ng-model="userdata.password"/>
                <input type="checkbox" id="checkbox" ng-model="userdata.showPassword"  ng-if="userdata.isEditable"/>
                <label for="checkbox" ng-if="userdata.isEditable">Show password :</label>
                <span ng-show="userdata.isEditable && userdata.showPassword">{{userdata.password}}</span>
            </td>

            <td colspan="2" ng-if="userdata.id == ''" >
                <input type="password"  ng-model="userdata.password"/>
                <input type="checkbox" id="checkbox" ng-model="userdata.showPassword"/>
                <label for="checkbox">Show password :</label>
                <span ng-show="userdata.showPassword">{{rsaService.decryptData(userdata.password)}}</span>
            </td>


            <td  ng-if="userdata.id != ''">
                <input type="hidden" ng-model="userdata.id"/>
                <button ng-show="!userdata.isEditable" ng-click="dashboardCtrl.edit($index,userdata.id)">Edit</button>
                <button ng-show="userdata.isEditable" ng-click="dashboardCtrl.save($index,userdata.id)">Save</button>
                <button ng-show="userdata.isEditable" ng-click="dashboardCtrl.cancel($index,userdata.id)">Cancel</button>
            </td>
            <td  ng-if="userdata.id == ''">
                <button  ng-click="dashboardCtrl.saveNewEntry($index)">Add</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button ng-click="dashboardCtrl.addnewEntry()">Add a new Entry</button>
            </td>
        </tr>


     </table>

    <input type="text" id="clipboardData" style="border: none;background: transparent;position: absolute;left: -1000px;top: -1000px;selection:transparent;"/>
</div>
