<div id="dashboard">
    <h2>Welcome to your Dashboard view.</h2>
    <table class="table-bordered">
        <tr class= "row">
            <th class="col-md-2">Site Name</th>
            <th class="col-md-2">Site Url</th>
            <th class="col-md-2">User name</th>
            <th class="col-md-4">Password</th>

            <td class="col-md-2">Edit?</td>
        </tr>
        <tr class="row" ng-repeat="userdata in dashboardCtrl.storage">


            <td class="col-md-2" ng-if="userdata.id != ''">
                <span ng-show="!userdata.isEditable">{{userdata.siteName}}</span>
                <input ng-show="userdata.isEditable" type="text" ng-model="userdata.siteName" />
            </td>

            <td class="col-md-2" ng-if="userdata.id == ''">
                <input  type="text" ng-model="userdata.siteName" />
            </td>

            <td class="col-md-2" ng-if="userdata.id != ''">
                <span ng-show="!userdata.isEditable">{{userdata.siteUrl}}</span>
                <input ng-show="userdata.isEditable" type="text" ng-model="userdata.siteUrl" />
            </td>
            <td class="col-md-2"  ng-if="userdata.id == ''">
                <input  type="text" ng-model="userdata.siteUrl" />
            </td>

            <td class="col-md-2"  ng-if="userdata.id != ''">
                <span ng-show="!userdata.isEditable">{{userdata.username}}</span>
                <input ng-show="userdata.isEditable" type="text" ng-model="userdata.username"/>
            </td>

            <td class="col-md-2" ng-if="userdata.id == ''">
                <input  type="text" ng-model="userdata.username"/>
            </td>


            <td class="col-md-4"  ng-if="userdata.id != ''" >
                <button ng-show="!userdata.isEditable" ng-click="dashboardCtrl.copyToClipboard($index,this)">Copy To Clipboard</button>
                <input type="password" ng-show="userdata.isEditable" ng-model="userdata.password"/>
                <input type="checkbox" id="checkbox" ng-model="userdata.showPassword"  ng-if="userdata.isEditable"/>
                <label for="checkbox" ng-if="userdata.isEditable">Show password :</label>
                <span ng-show="userdata.isEditable && userdata.showPassword">{{dashboardCtrl.decryptData(userdata.password)}}</span>
            </td>

            <td class="col-md-4" ng-if="userdata.id == ''" >
                <input type="password"  ng-model="userdata.password"/>
                <input type="checkbox" id="checkbox" ng-model="userdata.showPassword"/>
                <label for="checkbox">Show password :</label>
                <span ng-show="userdata.showPassword">{{(userdata.password)}}</span>
            </td>


            <td  ng-if="userdata.id != ''"  class="col-md-2" >
                <input type="hidden" ng-model="userdata.id"/>
                <button ng-show="!userdata.isEditable" ng-click="dashboardCtrl.edit($index,userdata.id)">Edit</button>

                <button ng-show="userdata.isEditable" ng-click="dashboardCtrl.save($index,userdata.id)">Save</button>
                <button ng-show="userdata.isEditable" ng-click="dashboardCtrl.cancel($index,userdata.id)">Cancel</button>
            </td>
            <td  ng-if="userdata.id == ''"  class="col-md-2" >
                <button  ng-click="dashboardCtrl.saveNewEntry($index)">Add</button>
            </td>
        </tr>
        <tr class="row">
            <td>
                <button ng-click="dashboardCtrl.addnewEntry()">Add a new Entry</button>
            </td>
        </tr>


     </table>

    <input  type="text" id="clipboardData" style="border: none;background: transparent;position: absolute;left: -1000px;top: -1000px;selection:transparent;"/>
</div>
